@import "tailwindcss";

@import './styles/inputs.css';
@import './styles/buttons.css';
@import './styles/layout.css';


@layer base {
  *, *::before, *::after { box-sizing: border-box; }

  body {
    @apply bg-slate-50 text-slate-800 antialiased;
    font-family: 'DM Sans', sans-serif;
  }

  h1, h2, h3 { font-family: 'Sora', sans-serif; }
}